@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    /* text-align: center; */
}
.container--1 .header__logo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
}

.container--1 .container__elements .header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* background-color: #1F2937; */
    /* align-self: flex-start; */
    
    padding: 0px;
}

.container--1 .plc-img {
    width: 192px;
    height: 240px;
    flex: 1;
    border-radius: 8px;
    /* align-self: stretch; */

}

.container--1 {
    /* display: flex; */
    background-color: #1F2937;
    align-items: center;
    padding: 35px;
    /* justify-content: space-around; */
}

.container__elements {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: 25px;
    gap: 40px;
    
}

.container__content {
    display: flex;
    justify-content: space-between;
    
}



.hero__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
}

.container__content .header__text {
    font-size: 18px;
    color: #E5E7EB;
}


.container--1 .container__content .header__hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    /* background-color: #1F2937; */
}


.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: auto;
  gap: 10px;
  flex-direction: column;
  color: #F9FAF8;
  text-align: center;
}

.footer .favicon {
    font-size: 7px;
}
button {
    background: #3882f6;
    font-family: inherit;
    border-radius: 8px;    
    padding: 8px;
    width: 170px;
    height: 40px;
    color: white;
    font-weight: bold;
}

.button--content {    
    border: none;
}

.button--cta {
    border: 2px solid white;
}

.container--2 {
    /* display: flex;  */
    text-align: center;
    padding: 35px;
}

.container--2 .title__cards {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 20px;
}

.container--2 .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
    margin-bottom: 32px;
    
}

.card-content img {
    width: 140px;
    height: 140px;
    border-radius: 8px;
    border: 2px solid #3882f6
}

.card-content {
    max-width: 140px;
}
.container--3 {
    display: flex;
    /* text-align: center; */
    background-color: #E5E7EB;
    padding: 35px;
    justify-content: center;   
}

.blockquote {
    
    /* display: block; */
    margin: 10px 30px;   
}

.blockquote__text {
    
    font-style: italic;
    font-size: 36px;
    padding: 25px;
    margin: 0;
    line-height: 1.5;
    /* text-align: start; */
}

.blockquote__text--author {
    margin-bottom: 1em;
    text-align: right;

}

.container--4 {
    display: flex;
    padding: 35px;
    justify-content: center;
}

.cta-left .header {
    font-size: 24px;
    font-weight: bold;
    text-align: start;
}

.cta-left .text {
    font-size: 12px;
}

.cta {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 40px;
    /* justify-content:space-between;
    align-items: center; */
    gap: 90px;
}